.register_one {
    background-color: rgb(127, 81, 20);
    color: white;
    border-color: black;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 30px;
}
.register_one:hover{
    opacity: 0.7;
}  
.starting_one {
    height: 38px;
    background-color: rgb(0,0,0);
    border-radius: 5px;
    border-color: red;
    border-style: solid;
    color: red;
    cursor: pointer;
}
.tweet_one {
    background-color: rgb(33, 139, 251);
    color: white;
    height: 40px;
    width: 78px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-left: 30px;
    transition: background-color 0.25s,
        color 0.25s;
    box-shadow: 6px 6px 3px red;

}
.tweet_one:hover {
    background-color: black;
    color: blue;
    opacity: 0.7;


}
.tweet_one:active {
    box-shadow: 4px 4px 3px red;
}
