.video_title {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}
.video_stats {
    font-family: Arial;
    font-size: 14px;
    color: rgb(87, 87, 87);
    margin-top: 0;
}
.video_author {
        font-family: Arial;
        font-size: 14px;

}
.shop {
    background-color: rgb(201, 9, 9);
    color: white;
    text-align: center;
    font-size: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
}